#footer .container {
    position: relative;
    clear: both;
    color: hsla(0, 0%, 100%, 0.4);
    font-size: 14px;
    background: #000;
}

#footer .container a {
    color: hsla(0, 0%, 100%, 0.9);
}

#footer .container a:hover {
    color: #9a69ec;
}

#footer .container .footer-wrap {
    position: relative;
    margin: auto;
    padding: 60px 24px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
}

#footer .container .footer-wrap .ant-row {
    margin-left: -8px;
    margin-right: -8px;
}

#footer .container .footer-wrap .ant-row > div {
    padding-left: 8px;
    padding-right: 8px;
}

#footer .container .footer-wrap .footer-center {
    display: inline-block;
    text-align: left;
}

#footer .container .footer-wrap .footer-center > h2 {
    position: relative;
    margin: 0 auto 24px;
    font-weight: 500;
    font-size: 16px;
}

#footer .container .footer-wrap .footer-center > h2 img {
    width: 27px;
    margin-right: 16px;
}

#footer .container .footer-wrap .footer-center > h2 span {
    color: #fff;
}

#footer .container .footer-wrap .footer-center > div {
    margin: 12px 0;
}

#footer .container .bottom-bar {
    margin: 0;
    padding: 16px 40px;
    overflow: hidden;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}

#footer .container .bottom-bar .heart {
    position: relative;
    margin: 0 30px 0 5px;
    width: 20px;
    height: 20px;
}

#footer .container .bottom-bar .heart:after,
#footer .container .bottom-bar .heart:before {
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 18px;
    background: #9a69ec;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#footer .container .bottom-bar .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#footer .container .bottom-bar a {
    color: hsla(0, 0%, 100%, 0.65);
}

#footer .container .bottom-bar a:hover {
    color: #fff;
}
