main {
    // width: $body-width;
    clear: both;


    .posts {
        margin-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;
    }

    .read-more a {
        color: $main-colour;
        font-family: $decoration-font-family;
        font-size: 1.1rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .about,
    .post {
        -webkit-user-select: none;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
            Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .post__title {
            font-family: $decoration-font-family;

            a {
                color: #34495e;
            }
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 400;
        }

        code {
            padding: 3px 5px;
            border-radius: 4px;
            color: $code-colour;
            background: $secondary-colour;
        }

        p > a {
            color: $main-colour;

            &:hover {
                border-bottom: 1px solid $main-colour;
            }
        }

        blockquote {
            margin: 2em 0;
            padding: 10px 20px;
            position: relative;
            color: rgba(#34495e, 0.8);
            background-color: rgba(192, 91, 77, 0.05);
            border-left: 3px solid rgba(192, 91, 77, 0.3);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);

            p {
                margin: 0;
            }

            &.fancyquote {
                position: relative;
            }
            &.fancyquote:before {
                content: " ";
                position: absolute;
                top: 50%;
                left: -14.5px;
                margin-top: -12px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                text-align: center;
                color: #fff;
                background-size: 16px 16px;
                background-position: 4px 4px;
                background-repeat: no-repeat;
            }
            &.fancyquote {
                &.info {
                    border-color: #209cee;
                    background-color: #def0fd;
                }
                &.info:before {
                    background-color: #209cee;
                    background-image: url("/assets/quote/info.svg");
                }
            }
            &.fancyquote {
                &.success {
                    border-color: #23d160;
                    background-color: #cbf6da;
                }
                &.success:before {
                    background-color: #23d160;
                    background-image: url("/assets/quote/success.svg");
                }
            }
            &.fancyquote {
                &.warning {
                    border-color: #ffdd57;
                    background-color: #fff6d1;
                }
                &.warning:before {
                    background-color: #ffdd57;
                    background-image: url("/assets/quote/warning.svg");
                }
            }
            &.fancyquote {
                &.danger {
                    border-color: #ff3860;
                    background-color: #ffb3c2;
                }
                &.danger:before {
                    background-color: #ff3860;
                    background-image: url("/assets/quote/danger.svg");
                }
            }
        }

        table {
            width: 100%;
            max-width: 100%;
            margin: 10px 0;
            border-collapse: separate;
            border-spacing: 0;
            // border-radius: 0.6rem;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);

            thead {
                background: $secondary-colour;
            }

            th,
            td {
                padding: 5px 15px;
                border: 1px double darken($secondary-colour, 3%);
            }

            tr:hover {
                background-color: $secondary-colour;
            }
        }

        .footnote-definition {
            padding-left: 40px;

            &:first-of-type {
                border-top: 2px dashed $main-colour;
                margin-top: 1rem;
                padding-top: 1rem;
            }

            sup {
                &.footnote-definition-label {
                    font-size: 100%;
                    position: unset;
                    top: unset;

                    &::after {
                        content: ".";
                    }
                }
            }

            p {
                display: inline;
            }
        }

        &__title {
            margin: 0;
            font-size: 26px;
            font-weight: 400;

            @include underline-from-center;
        }

        &__category {
            display: inline;

            a {
                color: inherit;

                &:before {
                    content: "\B7";
                    padding-right: 2px;
                }

                &:hover {
                    color: $main-colour;
                }
            }
        }

        &__meta {
            font-size: 14px;
            color: #8a8a8a;
        }

        &__summary {
            margin-bottom: 1rem;
        }
    }

    .post-footer {
        margin-top: 20px;
        border-top: 1px solid #e6e6e6;

        &:after {
            clear: both;
            height: 0;
            width: 100%;
            content: "";
            display: block;
        }
    }

    .footer-buttons {
        margin-top: 60px;
        text-align: center;
        font-size: 0;

        .footer {
            min-width: 180px;
            height: 44px;
            border-radius: 22px;
            font-size: 16px;
            line-height: 42px;
            margin: 0 10px;
        }
    }

    .footer {
        height: 32px;
        min-width: 88px;
        padding: 0 16px;
        background-color: $main-colour;
        border: 1px solid transparent;
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        outline: 0;
        box-sizing: border-box;
        border-radius: 2px;
    }

    .footer:hover {
        text-decoration: none;
        background-color: darken($main-colour, 10%);
    }

    .footer-weak {
        background: 0 0;
        border: 1px solid #dcdee6;
        color: #666;
        line-height: 30px;
    }

    .footer-weak:hover {
        background: 0 0;
        border: 1px solid #999;
        color: #000;
    }

    .post-labels {
        a {
            padding: 15px 0;
            display: inline-block;
            margin: 0 0.4rem 0.2rem 0;
            padding: 0 0.6rem;
            width: fit-content;
            border-radius: 0.6rem;
            text-decoration: none;
            font-size: 12px;
            cursor: pointer;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        .category {
            background: $main-colour;
            color: #fff;
            border: 1px solid $main-colour;
        }
        .category:hover {
            background: darken($main-colour, 10%);
            border: 1px solid darken($main-colour, 10%);
        }
        .tag {
            background: #fff;
            color: $main-colour;
            border: 1px solid $main-colour;
        }
        .tag:hover {
            color: darken($main-colour, 10%);
            border: 1px solid darken($main-colour, 25%);
        }
    }

    .post-nav {
        margin: 1rem 0;
    }

    //.post + .post {
    //    border-top: 1px solid #e6e6e6;
    //}

    .pagination {
        clear: both;
        font-family: $decoration-font-family;
        margin: 2rem 0;

        a {
            color: #34495e;
        }
    }
}

@include mobile-screen() {
    main {
        .post {
            padding: 2rem 1rem;
            box-shadow: 0px 2px 2px #f0f0f0;
            border-color: rgba(0, 0, 0, 0.05);

            // margin-bottom: 2rem;
        }
    }
}

@include desktop-screen() {
    main {
        .post {
            padding: 1.5rem 1.5rem;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
            border-color: rgba(0, 0, 0, 0.05);
            border-radius: 0.6rem;
            margin-bottom: 1.5rem;
        }
        .content {
            padding: 0 20px;
        }
    }
}

.next,
.previous {
    font-weight: 600;
    font-size: 20px;
    transition: transform 0.3s ease-out;

    &:hover {
        color: $main-colour;
    }
}

.next {
    float: right;
    &:hover {
        transform: translateX(4px);
    }
}

.previous {
    float: left;
    &:hover {
        transform: translateX(-4px);
    }
}

.taxonomies {
    margin: 2em 0 3em;
    text-align: center;

    &__title {
        display: inline-block;
        font-size: 18px;
        color: $main-colour;
        border-bottom: 2px solid $main-colour;
    }

    &__items {
        margin: 10px 0;

        a {
            margin: 5px 10px;
            word-wrap: break-word;
            position: relative;

            &:hover {
                color: $main-colour;
            }

            .count {
                position: relative;
                top: -8px;
                right: -2px;
                color: $main-colour;
                font-size: 12px;
            }
        }
    }
}

.taxonomy {
    margin: 2rem;

    &__item {
        padding: 3px 20px;
        border-left: 1px solid #cacaca;
        transition: 0.2s ease-out;

        &:hover {
            border-left: 3px solid $main-colour;
            transform: translateX(4px);
        }

        &__time {
            margin-right: 10px;
            color: #8a8a8a;
        }

        &__title a {
            color: $main-colour;
        }
    }
}

.about {
    p > a {
        color: $main-colour;
        word-break: break-all;

        &:hover {
            border-bottom: 1px solid $main-colour;
        }
    }
}
