$main-colour: #9a69ec;

.post_copyright {
    width: 85%;
    max-width: 45em;
    margin: 2.8em auto 0;
    padding: 0.5em 1em;
    border: 1px solid #d3d3d3;
    font-size: 0.93rem;
    line-height: 1.6em;
    word-break: break-all;
    background: rgba(255, 255, 255, 0.4);

    p {
        margin: 0;
    }
    span {
        display: inline-block;
        width: 5.2em;
        color: #333;
        font-weight: bold;
    }
    .raw {
        margin-left: 1em;
        width: 5em;
    }
    a {
        color: #808080;
        border-bottom: 0;
    }
    a:hover {
        color: darken($main-colour, 10%);
    }

    .post-url:hover {
        font-weight: normal;
    }
    .copy-path {
        margin-left: 1em;
        width: 1em;
    }
    .copy-path:hover {
        color: #808080;
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .post_copyright .copy-path {
        display: none;
    }
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
