@import "copyright";
@import "live2d";
@import "code";

.math {
    overflow-x: auto;
    overflow-y: hidden;
}

.MathJax {
    outline: 0;
}

.aplayer.aplayer-fixed .aplayer-lrc {
    visibility: hidden;
}
